.ArticleH2 {
  margin-top: 1%;
  padding-bottom: 1%;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .ArticleH2 {
    font-size: 2rem;
  }
  .ArticleP {
    font-size: 2rem;
  }
  .ArticleTitle {
    font-size: 20px;
  }
  .btn {
    font-size: 12px;
  }
}
